<h1>
  Buttons
</h1>
<%= render RubyUI::Button.new { "Default" } %>
<%= render RubyUI::Button.new(variant: "primary") { "Primary" } %>
<%= render RubyUI::Button.new(variant: "link") { "Link" } %>
<%= render RubyUI::Button.new(variant: "secondary") { "Secondary" } %>
<%= render RubyUI::Button.new(variant: "destructive") { "Destructive" } %>
<%= render RubyUI::Button.new(variant: "outline") { "Outline" } %>
<%= render RubyUI::Button.new(variant: "ghost") { "Ghost" } %>
