<%= form_with(
  model: document,
  html: {
    "data-controller": "editor",
    class: "flex flex-col gap-5 h-full"
  }) do |form| %>
  <% if document.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
        <% document.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "Name" %>
    <%= form.text_field :name,
      placeholder: "Name",
      class: "appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" %>
  </div>

  <div>
    <%= form.label :description, "Description" %>
    <%= form.text_field :description,
      placeholder: "Description",
      class: "appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" %>
  </div>

  <div>
    <%= render RubyUI::Button.new(type: "button", variant: "primary", data_action: "editor#submit") do
      form.object.persisted? ? "Update document" : "Create document"
    end %>
  </div>

  <div class="flex flex-col">
    <%= form.hidden_field :body, id: form.field_id(:body), "data-editor-target": "bodyInput" %>
    <div class="hidden" data-editor-target="initialContent">
      <%= form.object.body.try(:to_trix_html).try(:html_safe) %>
    </div>
    <div id="toolbar" class="flex gap-1 border-1 border-gray-300 rounded-t-md p-1">
      <div class="grow flex gap-1">
        <%= render RubyUI::DropdownMenu.new(options: { placement: 'bottom-start' }) do %>
          <%= render RubyUI::DropdownMenuTrigger.new do
            render Editor::Button.new(class: "w-14 inline-flex") do
              tag.div(class: "pr-2", "data-editor-target": "blockSelector") { tag.i(class: "ri-heading") } +
              tag.i(class: "ri-arrow-down-s-line")
            end
          end %>
          <%= render RubyUI::DropdownMenuContent.new do %>
            <%= render RubyUI::DropdownMenuLabel.new { "Hierarchy" } %>
            <%= render Editor::DropdownMenuItem.new(:paragraph) do
                  tag.i(class: "ri-paragraph pr-2") +
                  tag.div { "Paragraph" }
                end %>
            <%= render RubyUI::DropdownMenuSeparator.new %>
            <%= render Editor::DropdownMenuItem.new(:heading_1) do
                  tag.i(class: "ri-h-1 pr-2") +
                  tag.div { "Heading 1" }
                end %>
            <%= render Editor::DropdownMenuItem.new(:heading_2) do
                  tag.i(class: "ri-h-2 pr-2") +
                  tag.div { "Heading 2" }
                end %>
            <%= render Editor::DropdownMenuItem.new(:heading_3) do
                  tag.i(class: "ri-h-3 pr-2") +
                  tag.div { "Heading 3" }
                end %>
            <%= render Editor::DropdownMenuItem.new(:heading_4) do
                  tag.i(class: "ri-h-4 pr-2") +
                  tag.div { "Heading 4" }
                end %>
            <%= render RubyUI::DropdownMenuLabel.new { "Lists" } %>
            <%= render RubyUI::DropdownMenuSeparator.new %>
            <%= render Editor::DropdownMenuItem.new(:ul) do
                  tag.i(class: "ri-list-unordered pr-2") +
                  tag.div { "Bullet list" }
                end %>
            <%= render Editor::DropdownMenuItem.new(:ol) do
                  tag.i(class: "ri-list-ordered-2 pr-2") +
                  tag.div { "Ordered list" }
                end %>
            <%= render RubyUI::DropdownMenuLabel.new { "Blocks" } %>
            <%= render RubyUI::DropdownMenuSeparator.new %>
            <%= render Editor::DropdownMenuItem.new(:codeblock) do
                  tag.i(class: "ri-code-box-line pr-2") +
                  tag.div { "Code block" }
                end %>
            <%= render Editor::DropdownMenuItem.new(:blockquote) do
                  tag.i(class: "ri-quote-text pr-2") +
                  tag.div { "Block quote" }
                end %>
          <% end %>
        <% end %>
        <%= render Editor::Button.new(:bold) { tag.i(class: "ri-bold") } %>
        <%= render Editor::Button.new(:italic) { tag.i(class: "ri-italic") } %>
        <%= render Editor::Button.new(:strike) { tag.i(class: "ri-strikethrough") }%>
        <%= render Editor::Button.new(:link_set) { tag.i(class: "ri-link") } %>
        <%= render Editor::Button.new(:link_unset) { tag.i(class: "ri-link-unlink-m") } %>
        <%= render Editor::Button.new(:attach) { tag.i(class: "ri-attachment-2") } %>
      </div>
      <div>
        <%= render Editor::Button.new(:undo) { tag.i(class: "ri-arrow-go-back-line") } %>
        <%= render Editor::Button.new(:redo) { tag.i(class: "ri-arrow-go-forward-line") } %>
      </div>
    </div>
    <div class="" data-editor-target="tiptap"></div>
  </div>
<% end %>
