<%= form_with(
  model: document,
  html: {
    "data-controller": "editor",
    class: "flex flex-col gap-5 h-full"
  }) do |form| %>
  <% if document.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
        <% document.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "Name" %>
    <%= form.text_field :name,
      placeholder: "Name",
      class: "appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" %>
  </div>

  <div>
    <%= form.label :description, "Description" %>
    <%= form.text_field :description,
      placeholder: "Description",
      class: "appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" %>
  </div>

  <div class="h-full flex flex-col">
    <%= form.hidden_field :body, id: form.field_id(:body), "data-editor-target": "bodyInput" %>
    <div class="hidden" data-editor-target="initialContent">
      <%= form.object.body.try(:to_trix_html).try(:html_safe) %>
    </div>

    <div id="toolbar" class="flex flex-row gap-1 border-1 border-gray-300 rounded-t-md p-1">
      <%= toggle_button(:heading) %>
      <%= toggle_button(:bold) %>
      <%= toggle_button(:italic) %>
      <%= toggle_button(:strike) %>
      <%= set_unset_button(:link) %>
      <%= toggle_button(:blockquote) %>
      <%= toggle_button(:codeblock) %>
      <%= toggle_button(:ul) %>
      <%= toggle_button(:ol) %>
      <%= toggle_button(:outdent) %>
      <%= toggle_button(:indent) %>
      <%= toggle_button(:attach) %>
      <%= toggle_button(:undo) %>
      <%= toggle_button(:redo) %>
    </div>
    <div class="h-full" data-editor-target="tiptap"></div>
  </div>

  <div>
    <%= render RubyUI::Button.new(type: "button", variant: "primary", data_action: "editor#submit") do
      form.object.persisted? ? "Update document" : "Create document"
    end %>
  </div>
<% end %>
